<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LeagueProfile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
    </ul>
    <form style="width:100%; margin:2em; max-width: unset;" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ngModel #SearchVal name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="GetSummoner(SearchVal.value)">Search</button>
    </form>
  </div>
</nav>
<div class="" style="margin-top: 10px; display: flex;" *ngIf="summoner">
  <!-- TODO move this into a separate component -->
  <div class="col-md-2" style="min-width: 300px;">
    <app-summoner-card [rank]="rank" [summoner]="summoner"></app-summoner-card>
    <app-summoner-mastery [champMastery]="champMastery"></app-summoner-mastery>
  </div>
  <div class="col-md-10">
    <app-match-history [matchHistory]="matchHistory"></app-match-history>
  </div>
</div>