<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LeagueProfile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
    </ul>
    <form style="width:100%; margin:2em; max-width: unset;" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ngModel #SearchVal>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="GetSummoner(SearchVal.value)">Search</button>
    </form>
  </div>
</nav>
<img >
<div class="col-md-2" *ngIf="summoner">
  <div style="display: flex; border: 1px solid rgba(0,0,0,.125);">
    <div style="width:40%">
      <img class="card-img-top" src="http://localhost:8080/dragon/img/profileicon/{{summoner.profileIconId}}.png" alt="Card image cap">
    </div>
    <div>
      <div class="card-body">
        <h5 class="card-title">{{summoner.name}}</h5>
        <p class="card-text">lvl {{summoner.summonerLevel}}</p>
      </div>
    </div>
  </div>
  <div style="padding-top: 20px; padding-bottom:20px; border: 1px solid rgba(0,0,0,.125); width: 100%;">
    <div style="padding-left: 20px;" *ngFor="let champ of (champMastery ? champMastery.slice(0,10): []); let i=index">
      <div style="display:-webkit-inline-box; padding-right:10px; padding-bottom: 15px; width: 100%;">
        <img style="width: 46px; height: 46px; object-fit: cover; border-radius: 50%;" src="http://localhost:8080/dragon/img/champion/{{champ.champIcon}}.png"> 
        <div style="margin: auto; margin-left: 10px">
          <p style="margin-bottom: 0px">{{champ.champName}}</p>
          <p style="margin-bottom: 0px">{{champ.championPoints}} points</p>
        </div>
        <img style="width: 46px; height: 46px; object-fit: cover; border-radius: 50%;" src="http://localhost:8080/mastery/Mastery{{champ.championLevel}}.webp">
      </div>
    </div>
   </div>
</div>